.form-input-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}